<%- include('./layouts/main') %>

<div class="col-sm-10 mt-3">
  <h1><%= title %></h1>
  <% if (book_list.length) { %>
   <ul>
    <% book_list.forEach(book => { %>
      <li><a href="<%= book.url %>"><%= book.title %></a> (<%= book.author.name %>)</li>
    <% }) %>
   </ul>
   <% } else { %>
    <p>There are no books.</p>
  <% } %>
</div>