<%- include('./layouts/main') %>

<div class="col-sm-10 mt-3">
  <h1>ID: <%= bookinstance._id %></h1>
  <p><strong>Title:</strong> <a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a></p>
  <p><strong>Imprint:</strong> <%= bookinstance.imprint %></p>
  <p><strong>Status:</strong>
    <span class="<%= bookinstance.status == 'Available' ? 'text-success' : bookinstance.status == 'Maintenance' ? 'text-danger' : 'text-warning' %>"><%= bookinstance.status %></span>
  </p>
  <p><strong>Due back:</strong> <%= bookinstance.due_back_formatted %></p>
  <hr>
  <p>
    <a href="<%= `${bookinstance.url}/delete` %>" class="btn btn-primary">Delete Copy</a>
  </p>
</div>