<%- include('./layouts/main') %>

<div class="col-sm-10 mt-3">
  <h1>
    Genre: <%= genre.name %>
  </h1>
  <div class="ms-4 mt-4">
    <h4>Books</h4>
    <% if (genre_books.length) { %>
      <dl>
        <% genre_books.forEach(book => { %>
          <dt><a href="<%= book.url %>"><%= book.title  %></a></dt>
          <dd><%= book.summary %></dd>
        <% }) %>
      </dl>
    <% } else { %>
      <p>There are no books in this genre</p>
    <% } %>
  </div>
  <hr>
  <p>
    <a href="<%= `${genre.url}/delete` %>" class="btn btn-primary">Delete genre</a>
  </p>
</div>